{% load cms_tags sekizai_tags static menu_tags %}
<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
  <head>
    {% block meta_tags %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="{% page_attribute "meta_description" %}" />
	<meta name="keywords" content="{% page_attribute "meta_keywords" %}" />
	<!--[if IEMobile]><meta http-equiv="cleartype" content="on" /><![endif]-->
	{% endblock meta_tags %}
    <title>{% block title %}{% page_attribute page_title %}{% if site_settings.site.name %} - {{ site_settings.site.name }}{% endif %}{% endblock title %}</title>
    <link rel="shortcut icon" type="image/x-icon" href="{% static "images/favicon.ico" %}"/>
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="{% static "bootstrap/dist/css/bootstrap.min.css" %}">
    <link rel="stylesheet" href="{% static "assets/css/main.css" %}" />
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    {% render_block "css" %}
  </head>

  <body>
    {% cms_toolbar %}
{#    <div class="container">#}

      <nav class="navbar navbar-inverse bs-dark" role="navigation" style="margin-bottom: 0px;">
        <div class="navbar-header fluid">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">
              <span>
                  <img src="{% static "images/BaseLogo.png" %}" style="height:50px;vertical-align:middle">
                  AVID
              </span>
          </a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
              {% show_menu 0 1 100 100 "menu/navigation.html" %}
          </ul>
        {% comment enable language chooser %}
          <ul class="nav navbar-nav navbar-right">
              {% language_chooser "menu/language_chooser.html" %}
          </ul>
        {% endcomment %}
        </div>
      </nav>
      <style>
          /* Sizes navbar to fit logo */
          .navbar-inverse{
                min-height: 75px;
            }
            .navbar-nav > li > a {
                padding-top: 0px;
                padding-bottom: 0px;
                line-height: 75px;
            }
            .navbar-nav>li {
                float: none;
                display: inline-block;
            }
      </style>


      {% block container %}
          {% block calendar %}{% endblock calendar %}
          {% block banner %}{% endblock banner %}
          {% block content %}{% endblock %}
      {% endblock %}

      <hr>
      <footer>
          {% block footer %}
              <!-- Footer -->
			<footer id="footer">
				<ul class="icons">
					<li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
					<li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
					<li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
				</ul>
				<div class="copyright">
					&copy; Untitled. Design: <a href="https://templated.co">TEMPLATED</a>. Images: <a href="https://unsplash.com">Unsplash</a>.
				</div>
			</footer>
          {% endblock %}
      </footer>

{#    </div> <!-- /container -->#}

    {% render_block "js" %}


  </body>
</html>
